@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
       local('Lato-Regular'),
       url(../fonts/lato.woff2) format('woff2'),
       url(../fonts/lato.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'),
       local('Lobster-Regular'),
       url(../fonts/lobster.woff2) format('woff2'),
       url(../fonts/lobster.woff) format('woff');
}

body {
    font-family: 'Lato', serif;
    color: #333;
    background-color: #ffbb00;
}

#loading {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#header {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 46px;
    line-height: 46px;
    top: 0;
    left: 0;
    font-size: 30px;
    font-family: 'Lobster';
}

#search-field {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    height: 35px;
    width: 100%;
    font-size: 18px;
    border-width: 0;
    border: 2px solid #333;
    border-width: 2px 0;
    padding: 0 5px;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.93);
}

#content {
    position: fixed;
    top: 84px;
    left: 0px;
    bottom: 52px;
    right: 0px;
    overflow: auto;
    background-color: #F5F5F5;
    box-shadow: inset 0px 0px 23px -7px rgba(0,0,0,0.33);
}

#welcome {
    font-family: 'Lobster';
    position: fixed;
    left: 0px;
    right: 0px;
    top: 150px;
    bottom: 0px;
    margin: auto auto;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}


#random {
    font-size: 46px;
    line-height: 46px;
    float: right;
    margin: 2px;
    margin-right: 5px;
}

.result {
    height: 60px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.result-more {
    font-size: 20px;
    line-height: 60px;
    text-align:center;
    font-family: 'Lobster';
}

.result:hover {
    background-color: #DDD;
}

.result i {
    font-size: 2.6em;
    line-height: 60px;
    float: left;
    padding: 0 10px 0 6px;
}

a {
    color: #333;
    text-decoration: none;
}

.station-title {
    font-size: 1.0em;
    height: 26px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.station-website {
    color: #777;
    font-size: 0.75em;
    height: 17px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.station-details {
    color: #777;
    font-size: 0.75em;
    height: 17px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 2px solid #333;
}

#status {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 65%;
    height: 40px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#playpause {
    font-size: 46px;
    line-height: 46px;
    float: left;
    margin: 2px;
    margin-left: 5px;
}

#playpause .inactive {
   pointer-events: none;
   cursor: default;
}
